/* Стилизация аккордеона */

.accordion__item {
    border: 1px solid #ACB5BD;
    border-radius: 8px;
    font: normal 400 16px "Inter";
    margin-bottom: 8px;
    color: #495057;
}

.accordion__item:hover {
    cursor: pointer;
}

.accordion__summary {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    list-style-type: none;
    padding: 24px 0 24px 32px;
}

.accordion__item[open]>.accordion__summary {
    padding-bottom: 16px;
}

.accordion__text {
    padding: 0 32px 32px;
}

.accordion__item:last-child {
    margin-bottom: 0;
}