.button {
    display: flex;
    justify-content: center;
    align-items: center;
    /*  */
    width: 189px;
    height: 48px;
    color: var(--white);
    border-radius: 8px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    /*  */
    background-color: var(--king-blue);
    border: 1px solid var(--king-blue);
}

.modal {
    /* display: none; */
}

.modal__shadow {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.5;
    background-color: var(--grey-5);
}

.modal__wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__content {
    position: relative;
    width: 428px;
    height: 294px;
    opacity: 1;
    border-radius: 8px;
    background-color: var(--white);
    padding: 30px 40px 33px;
}

.modal__title {
    font-family: Inter, sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0px;
    vertical-align: bottom;
    /*  */
    color: #334D6E;
    margin-bottom: 14px;
}

.modal__text {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
}

.close__icon {
    position: absolute;
    color: #334D6E;
    height: 16px;
    width: 16px;
    right: 12px;
    top: 12px;
    background-image: url('../../assets/images/x.png');
}