.histogram {
    border: 1px solid #ACB5BD;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 16px 24px 24px;
}

.histogram__header {
    display: flex;
    justify-content: space-between;
}

.histogram__title {
    display: inline-block;
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    margin-bottom: 6px;
}

.histogram__counter {
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0%;
    margin-bottom: 39px;
}

.histogram__preview {
    height: 50px;
    display: flex;
    align-items: flex-end;
    height: 50px;
    gap: 1px;
}

.histogram__column {
    width: 100%;
    background-color: #4263EB;
}

.histogram__link {
    text-decoration: none;
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #4263EB;
    margin-top: 3px;
}