.calendar {
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    padding: 28px 26px;
    max-width: 304px;
}

.calendar__title {
    display: grid;
    /*  */
    font-family: Inter;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0px;
    vertical-align: bottom;
    /*  */
    margin-bottom: 24px;
    justify-content: center;
    color: var(--purple-blue);
}

.calendar__wrapper {
    position: relative;
    padding-bottom: 100%;
}

.calendar__content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    grid-template: repeat(7, 1fr) / repeat(7, 1fr);
}

.calendar__item {
    display: flex;
    justify-content: center;
    align-items: center;
    /*  */
    font-family: Source Sans Pro;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0px;
    color: var(--purple-blue);
}

.calendar__header>.calendar__item {
    font-family: Inter;
    font-size: 14px;
    color: var(--grey-manatee);
}

.calendar__item_range {
    background-color: var(--light-purple);
}

.calendar__item_point {
    background-color: var(--king-blue);
    color: var(--white);
}